@charset "utf-8";
/* BASIC */
@font-face {
	font-family:ng;
	src:url('../font/NanumGothic.eot');
	src:local(※), url('../font/NanumGothic.woff') format('woff');
}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,
del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,select,button,
ul,li,fieldset,form,label,legend,caption,tbody,tfoot,thead,tr,textarea {margin:0;padding:0;}
fieldset,img {border:0 none}
dl,ul,ol,menu,li {list-style:none}
blockquote,q {quotes:none;}
blockquote:before,blockquote:after,q:before,q:after {content:"";content:none;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {display:block;margin:0;padding:0;}
img {-ms-interpolation-mode:bicubic !important;}
a,input,select,textarea,button,img {vertical-align:middle;font-family:inherit;}
input {margin:0;padding:0;}
table {table-layout:fixed;}
table,th,td {margin:0;padding:0;border-spacing:0;border-collapse:collapse;}
address,caption,cite,code,dfn,em,var {font-style:normal;font-weight:normal;}
legend,caption {height:0;text-indent:-9999px;overflow:hidden;font-size:0;}
input,button {border-radius:0;}
button,input[type="button"],input[type="submit"] {-webkit-appearance:none;}
select {border-radius:0;}

html {overflow-y:scroll;font-size:12px;}
body {
	font-family:'ng','NanumGothic','맑은 고딕','Malgun Gothic',sans-serif;
	color:#666;
	font-size:12px;
	-webkit-text-size-adjust:none;
}
a {text-decoration:none;color:#666;}
a:hover {text-decoration:none;}

.clear {clear:both;display:block;float:none;font-size:0 !important;height:0;line-height:0 !important;margin:0 !important;overflow:hidden;padding:0 !important;width:100%;}
.clearfix {*zoom:1;*overflow:hidden;}
.clearfix:after {content:"";display:block;clear:both;font-size:0;}
.fl {float:left;}
.fr {float:right;}

.mt0 {margin-top:0 !important;}
.mt2 {margin-top:2px !important;}
.mt3 {margin-top:3px !important;}
.mt5 {margin-top:5px !important;}
.mt9 {margin-top:9px !important;}
.mt10 {margin-top:10px !important;}
.mt15 {margin-top:15px !important;}
.mt20 {margin-top:20px !important;}
.mt25 {margin-top:25px !important;}
.mt30 {margin-top:30px !important;}
.mt35 {margin-top:35px !important;}
.mt40 {margin-top:40px !important;}
.mt45 {margin-top:45px !important;}
.mt50 {margin-top:50px !important;}
.mt60 {margin-top:60px !important;}
.mt65 {margin-top:65px !important;}
.mt70 {margin-top:70px !important;}
.mt75 {margin-top:75px !important;}
.mt80 {margin-top:80px !important;}
.mt90 {margin-top:90px !important;}
.mt100 {margin-top:100px !important;}

.ml0 {margin-left:0 !important;}
.ml5 {margin-left:5px !important;}
.ml10 {margin-left:10px !important;}
.ml15 {margin-left:15px !important;}
.ml20 {margin-left:20px !important;}
.ml25 {margin-left:25px !important;}
.ml30 {margin-left:30px !important;}
.ml35 {margin-left:35px !important;}
.ml40 {margin-left:40px !important;}
.ml45 {margin-left:45px !important;}
.ml50 {margin-left:50px !important;}
.ml70 {margin-left:70px !important;}
.ml75 {margin-left:75px !important;}
.ml100 {margin-left:100px !important;}

.mr0 {margin-right:0 !important;}
.mr5 {margin-right:5px !important;}
.mr10 {margin-right:10px !important;}
.mr15 {margin-right:15px !important;}
.mr20 {margin-right:20px !important;}
.mr25 {margin-right:25px !important;}
.mr30 {margin-right:30px !important;}
.mr35 {margin-right:35px !important;}
.mr40 {margin-right:40px !important;}
.mr45 {margin-right:45px !important;}
.mr50 {margin-right:50px !important;}

.mb0 {margin-bottom:0 !important;}
.mb5 {margin-bottom:5px !important;}
.mb10 {margin-bottom:10px !important;}
.mb15 {margin-bottom:15px !important;}
.mb20 {margin-bottom:20px !important;}
.mb25 {margin-bottom:25px !important;}
.mb30 {margin-bottom:30px !important;}
.mb35 {margin-bottom:35px !important;}
.mb40 {margin-bottom:40px !important;}
.mb45 {margin-bottom:45px !important;}
.mb50 {margin-bottom:50px !important;}
.mb55 {margin-bottom:55px !important;}
.mb60 {margin-bottom:60px !important;}
.mb65 {margin-bottom:65px !important;}
.mb70 {margin-bottom:70px !important;}

.pt0 {padding-top:0 !important;}
.pt5 {padding-top:5px !important;}
.pt10 {padding-top:10px !important;}
.pt15 {padding-top:15px !important;}
.pt20 {padding-top:20px !important;}
.pt25 {padding-top:25px !important;}
.pt30 {padding-top:30px !important;}
.pt35 {padding-top:35px !important;}
.pt40 {padding-top:40px !important;}
.pt45 {padding-top:45px !important;}
.pt50 {padding-top:50px !important;}
.pt60 {padding-top:60px !important;}
.pt65 {padding-top:65px !important;}
.pt70 {padding-top:70px !important;}
.pt75 {padding-top:75px !important;}
.pt80 {padding-top:80px !important;}
.pt85 {padding-top:85px !important;}
.pt90 {padding-top:90px !important;}
.pt100 {padding-top:100px !important;}

.pl0 {padding-left:0 !important;}
.pl5 {padding-left:5px !important;}
.pl10 {padding-left:10px !important;}
.pl15 {padding-left:15px !important;}
.pl20 {padding-left:20px !important;}
.pl25 {padding-left:25px !important;}
.pl30 {padding-left:30px !important;}
.pl35 {padding-left:35px !important;}
.pl40 {padding-left:40px !important;}
.pl45 {padding-left:45px !important;}
.pl50 {padding-left:50px !important;}
.pl70 {padding-left:70px !important;}
.pl75 {padding-left:75px !important;}
.pl100 {padding-left:100px !important;}

.pr0 {padding-right:0 !important;}
.pr5 {padding-right:5px !important;}
.pr10 {padding-right:10px !important;}
.pr15 {padding-right:15px !important;}
.pr20 {padding-right:20px !important;}
.pr25 {padding-right:25px !important;}
.pr30 {padding-right:30px !important;}
.pr35 {padding-right:35px !important;}
.pr40 {padding-right:40px !important;}
.pr45 {padding-right:45px !important;}
.pr50 {padding-right:50px !important;}

.pb0 {padding-bottom:0 !important;}
.pb5 {padding-bottom:5px !important;}
.pb10 {padding-bottom:10px !important;}
.pb15 {padding-bottom:15px !important;}
.pb20 {padding-bottom:20px !important;}
.pb25 {padding-bottom:25px !important;}
.pb30 {padding-bottom:30px !important;}
.pb35 {padding-bottom:35px !important;}
.pb40 {padding-bottom:40px !important;}
.pb45 {padding-bottom:45px !important;}
.pb50 {padding-bottom:50px !important;}
.pb70 {padding-bottom:70px !important;}

.lh24 {line-height:24px !important;}
.lh22 {line-height:22px !important;}
.lh20 {line-height:20px !important;}
.lh18 {line-height:18px !important;}
.lh16 {line-height:16px !important;}
.lh14 {line-height:14px !important;}
.lh12 {line-height:12px !important;}
.lh10 {line-height:10px !important;}

.fs40 {font-size:40px !important;}
.fs30 {font-size:30px !important;}
.fs27 {font-size:27px !important;}
.fs24 {font-size:24px !important;}
.fs20 {font-size:20px !important;}
.fs18 {font-size:18px !important;}
.fs16 {font-size:16px !important;}
.fs15 {font-size:15px !important;}
.fs14 {font-size:14px !important;}
.fs13 {font-size:13px !important;}
.fs12 {font-size:12px !important;}
.fs11 {font-size:11px !important;}
.fs10 {font-size:10px !important;}

.fwn {font-weight:normal !important;}
.fwb {font-weight:600 !important;}

.c999 {color:#999 !important;}
.c777 {color:#777 !important;}
.c666 {color:#666 !important;}
.c333 {color:#333 !important;}
.c444 {color:#444 !important;}
.c000 {color:#000 !important;}

.red {color:#dc0303;}
.blue {color:#1076b0;}
.orange {color:#fc7f04;}

.tac {text-align:center !important;}
.tar {text-align:right !important;}
.tal {text-align:left !important;}
.ls1 {letter-spacing:-0.1em;word-spacing:-0.1em;}
.ls5 {letter-spacing:-0.05em;word-spacing:-0.05em;}
.ls5 {letter-spacing:-0.03em;word-spacing:-0.03em;}
.ls75 {letter-spacing:-0.075em;word-spacing:-0.075em;}
.ls25 {letter-spacing:-0.025em;word-spacing:-0.025em;}
/* BASIC */





/*! fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap, .fancybox-skin, .fancybox-outer, .fancybox-inner, .fancybox-image,.fancybox-wrap iframe, .fancybox-wrap object,
.fancybox-nav, .fancybox-nav span, .fancybox-tmp {
	border:0;
	margin:0;
	outline:none;
	padding:0;
	vertical-align:top;
}
.fancybox-wrap {left:0;position:absolute;top:0;z-index:8020;}
.fancybox-skin {
	background:#f9f9f9;
	border-radius:4px;
	color:#444;
	moz-border-radius:4px;
	position:relative;
	text-shadow:none;
	webkit-border-radius:4px;
}
.fancybox-opened {z-index:8030;}
.fancybox-opened .fancybox-skin {
	box-shadow:0 10px 25px rgba(0, 0, 0, 0.5);
	moz-box-shadow:0 10px 25px rgba(0, 0, 0, 0.5);
	webkit-box-shadow:0 10px 25px rgba(0, 0, 0, 0.5);
}
.fancybox-outer, .fancybox-inner {position:relative;}
.fancybox-inner {overflow:hidden;}
.fancybox-type-iframe .fancybox-inner {webkit-overflow-scrolling:touch;}
.fancybox-error {
	color:#444;
	margin:0;
	padding:15px;
	white-space:nowrap;
}
.fancybox-image, .fancybox-iframe {display:block;height:100%;width:100%;}
.fancybox-image {max-height:100%;max-width:100%;}
#fancybox-loading,
.fancybox-close,
.fancybox-prev span,
.fancybox-next span {background-image:url(./images/fancybox_sprite.png);}
#fancybox-loading {
	background-position:0 -108px;
	cursor:pointer;
	left:50%;
	margin-left:-22px;
	margin-top:-22px;
	opacity:0.8;
	position:fixed;
	top:50%;
	z-index:8060;
}
#fancybox-loading div {background:url(./images/fancybox_loading.gif) center center no-repeat;height:44px;width:44px;}
.fancybox-close {
	cursor:pointer;
	height:36px;
	position:absolute;
	right:-18px;
	top:-18px;
	width:36px;
	z-index:8040;
}
.fancybox-nav {
	background:transparent url(./images/blank.gif);
	cursor:pointer;
	height:100%;
	position:absolute;
	text-decoration:none;
	top:0;
	webkit-tap-highlight-color:rgba(0,0,0,0);
	width:40%;
	z-index:8040;
}
.fancybox-prev {left:0;}
.fancybox-next {right:0;}
.fancybox-nav span {
	cursor:pointer;
	height:34px;
	margin-top:-18px;
	position:absolute;
	top:50%;
	visibility:hidden;
	width:36px;
	z-index:8040;
}
.fancybox-prev span {background-position:0 -36px;left:10px;}
.fancybox-next span {background-position:0 -72px;right:10px;}
.fancybox-nav:hover span {visibility:visible;}
.fancybox-tmp {
	left:-99999px;
	max-height:99999px;
	max-width:99999px;
	overflow:visible !important;
	position:absolute;
	top:-99999px;
	visibility:hidden;
}
.fancybox-lock {overflow:hidden !important;width:auto;}
.fancybox-lock body {overflow:hidden !important;}
.fancybox-lock-test {overflow-y:hidden !important;}
.fancybox-overlay {
	background:url(./images/fancybox_overlay.png);
	display:none;
	left:0;
	overflow:hidden;
	position:absolute;
	top:0;
	z-index:8010;
}
.fancybox-overlay-fixed {bottom:0;position:fixed;right:0;}
.fancybox-lock .fancybox-overlay {overflow:auto;overflow-y:scroll;}
.fancybox-title {
	position:relative;
	text-shadow:none;
	visibility:hidden;
	z-index:8050;
}
.fancybox-opened .fancybox-title {visibility:visible;}
.fancybox-title-float-wrap {
	bottom:0;
	margin-bottom:-35px;
	position:absolute;
	right:50%;
	text-align:center;
	z-index:8050;
}
.fancybox-title-float-wrap .child {
	color:#fff;
	display:inline-block;
	font-family:맑은 고딕,malgun gothic;
	font-size:20px;
	font-weight:normal;
	letter-spacing:-1px;
	line-height:24px;
	margin-right:-100%;
	padding:2px 20px;
	white-space:nowrap;
}
.fancybox-title-outside-wrap {color:#fff;margin-top:10px;position:relative;}
.fancybox-title-inside-wrap {padding-top:10px;}
.fancybox-title-over-wrap {
	background:#000;
	background:rgba(0, 0, 0, .8);
	bottom:0;
	color:#fff;
	left:0;
	padding:10px;
	position:absolute;
}