@charset "utf-8";
@media screen and (-webkit-min-device-pixel-ratio:0){
	.crbold
	{font-weight:bold !important;}
}
@font-face {
    font-family: 'BMDOHYEON';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMDOHYEON.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {font-family: 'Noto Sans KR', sans-serif;}
br.mo {display: none !important;}	
h2 { width: 100%;font-family: 'BMDOHYEON'; text-transform: uppercase;font-size: 5em;color: #1a1a1a; font-weight: normal;line-height: 1.3;text-align: center;}
h2 span {color: #579CB7;}
h2 p {font-size: 22px; font-weight: 500;line-height: 1.2;font-family: 'MICEGothic Bold'; }
h3 {font-family: 'MICEGothic Bold';}
#skip a {position:absolute;top:-9999px;z-index:9999;display:block;width:100%;background:#333;font-size:16px;font-weight:600;color:#fff;text-align:center;}
#skip a:hover,#skip a:focus {top:0;padding:15px 0;}
.nshtml{overflow: hidden !important;}
#inner {width: 1320px;margin: auto;-webkit-box-sizing: border-box; box-sizing: border-box;}

#wrap {width: 100%;overflow: hidden;padding-top: 55px;}
#wrap section {position: relative;}
#wrap section .position {position: absolute;top: -55px;left: 0;}




#header {background: #1a1a1a;position: fixed;top: 0;left: 0;width: 100%;z-index: 1000; box-shadow:0 5px 5px rgba(0,0,0,0.1);}
#header .inner {width: 100%;height: 55px; margin: 0 auto;position: relative;}
#header .inner h1 {position: absolute;top: 10%;left: 10%;}
#header .inner .gnb {width: 75%; height: auto; position: absolute; top: 50%; left: 50% ;-webkit-transform: translate(0, -50%); transform: translate(0, -50%); text-align: center;display: table;}
#header .inner .gnb:after {display: block;clear: both;content: "";}
#header .inner .gnb ul {font-size: 0;float: left;}
#header .inner .gnb ul li {display:table-cell;width: auto;display: inline-block;margin-left: 43px;}
#header .inner .gnb > a {float: left;margin-left: 43px;}
#header .inner .gnb > a,
#header .inner .gnb ul li a {
	display: block;height: 55px;line-height: 55px;
	font-size: 16px;color: #fff;font-family: 'dotum';
}
.menuOpen {
    display: none;
}


.sec01 {height: 900px;background: #333 url(../images/vis1.jpg) repeat-x fixed;font-size: 0;text-align: right;z-index: 2;}
.sec01 a {display: inline-block;margin-top: 420px;}
.sec01 .visual-mo {display: none;}


.sec02 {background: #f3f3f3;height: 975px;position: relative;text-align: center;}
.sec02 #inner h2 {position: absolute;top: 16%;left: 50%;transform: translateX(-50%);}
.sec02 #inner ul {position: absolute;bottom: -8%;left: 50%;transform: translateX(-50%);width: 50%; z-index: 59;display: flex; flex-direction: row;justify-content: space-between;}
.sec02 #inner ul li {display: inline-block;width: 100%;height: 605px; position: relative; top: -50px; margin: 0 11px;}
.sec02 #inner ul li .txtBox {position: absolute; bottom: 0%;left:50%; transform: translate(-50%,-50%);color: #333;text-align: left;width: 90%;color: #fff;}
.sec02 #inner ul li .txtBox h3 {font-size: 2em;padding-bottom: 10px;font-weight: normal;}
.sec02 #inner ul li .txtBox b {font-size: 3em;font-weight: 300;font-family: 'Anton', sans-serif;line-height: 1.3; text-transform: uppercase;letter-spacing: 1.2px;}
.sec02 #inner ul li .txtBox p {font-size: 1.5em; line-height: 1.4;padding-top: 10px;}
.sec02 #inner .appear-mo {display: none;}

.sec03 {height: 2287px;background: url(../images/sec2.jpg) no-repeat fixed 50% 50% / cover;text-align: center;position: relative;}
.sec03 #inner h2 {color: #fff; position: absolute; top: 9%; left: 50%; transform: translateX(-50%); }
.sec03 #inner h4 {font-size: 3rem;padding-bottom: 10px;font-weight: 500;}
.sec03 #inner .cont {width: 800px;height: 130px;font-family: 'MICEGothic Bold';color: #fff;line-height: 1.2;left: 50%; transform: translateX(-50%);}
.sec03 #inner .cont p {font-size: 1.5em;padding-top: 10px;padding-bottom: 10px;line-height: 1.4;}
.sec03 #inner .cont span {font-size: 1.4em;}
.sec03 #inner .n-box {width: 20%;float: left;}
.sec03 #inner .c-box {width: 80%;float: left;text-align: left;-webkit-box-sizing: border-box; box-sizing: border-box;padding-left: 10px;}
/* listBox-1 */
.sec03 #inner .listBox-1 {position: absolute;top: 18%;left: 50%;
    transform: translateX(-50%);}
/* listBox-2 */
.sec03 #inner .listBox-2 {position: absolute; top: 28%;left: 50%;
    transform: translateX(-50%);}
.sec03 #inner .listBox-2 span {line-height: 1.3;}
/* listBox-3 */
.sec03 #inner .listBox-3 {position: absolute; top: 38%;}
/* listBox-4 */
.sec03 #inner .listBox-4 {position: absolute; top: 47%;}
.sec03 #inner .listBox-4 p {line-height: 1.4;}
/* listBox-5 */
.sec03 #inner .listBox-5  {position: absolute;top: 57%;}
/* listBox-6 */
.sec03 #inner .listBox-6  {position: absolute; bottom: 28%;}
/* listBox-7 */
.sec03 #inner .listBox-7  {position: absolute;bottom: 19%;}
/* listBox-8 */
.sec03 #inner .listBox-8  {position: absolute;bottom: 10%; }


.sec3-table {position:relative;left:50%;margin-left:-100%;}
.mt46 {display: none;}


.sec04 {background: url(../images/sec3-add.png) no-repeat 50% 0 ;text-align: center;background-size: cover;}
.sec04 #inner .tit {width: 100%;font-size: 4em;color: #fff;position: absolute;left: 50%;top: 13%;transform: translateX(-50%);font-family: 'MICEGothic Bold';}
.sec04 #inner .bestIcon {display: block;overflow: hidden;width: 100%}
.sec04 #inner .bestIcon img {width: 25%;}
.sec04 #inner .tit span {color:#ffcb16}
.sec04 #inner .tit p {font-size: 20px;padding-top: 10px; font-weight: normal;}
.sec04 #inner img {display: inline-block;position: relative;top: -50px;}
.sec04 #inner img.one{margin-top: 300px;}
.sec04 #inner img.two{margin-top: 70px;}
.sec04 #inner .upper {display: none;}
.sec04 #inner .upper .swiper-slide .onlyM {display: none;}
.sec04 #inner .upper .swiper-slide .onlyT {width: 830px; height: auto;display: block;object-fit: cover;display: none;}

.sec05 {background: #f3f3f3;padding-top: 130px;padding-bottom: 130px;position: relative;text-align: center;}
.sec05 #inner h2 {position: absolute; top: 3%; left: 50%; transform: translateX(-50%);}
.sec05 #inner h2 .tit {position: absolute;top: 28%;left: 50%;transform: translateX(-50%);width: 100%;font-size: 20px;}
.sec05 #inner ul {font-size: 0;width:1305px;margin:0 auto;text-align:left;padding-top: 240px;}
.sec05 #inner ul li {display: inline-block;width: 644px;height: 388px;position: relative;top: -50px;z-index: 59;margin-bottom: 20px;}
.sec05 #inner ul li:nth-child(even) {margin-left: 13px;}


.sec06 {background: #579cb7;height: 100%;position: relative;text-align: center;padding-top: 130px;padding-bottom: 130px;}
.sec06 #inner {padding-bottom: 150px;}
.sec06 #inner h2 {position: absolute;top: 0%;left: 50%;transform: translateX(-50%); color: #fff;}
.sec06 #inner h2 .tit {position: absolute;top: 28%; left: 50%; transform: translateX(-50%);width: 100%;font-size: 20px;}
.sec06 #inner h2 p {font-size: 22px;font-weight: 500;line-height: 1.2;}
.sec06 #inner ul {font-size: 0;width: 1320px;margin: 0 auto;padding-top: 180px;}
.sec06 #inner ul li {display: inline-block;width: 429px;height: 365px;position: relative;top: -50px;z-index: 59;margin-bottom: 5px;margin-left: 6px;}
.sec06 #inner ul li:nth-child(3n+1) {margin-left: 0;}
.sec06 #inner .under_img {position: relative;}
.sec06 #inner .under_img img {position: absolute;z-index: 59;top: -66px;left: 0;}
.sec06 #inner .gallery-box {display: none;}



.sec07 {background: #fff;height: 590px;text-align: center;}
.sec07 #inner ul {font-size: 0;}
.sec07 #inner ul li {display: inline-block;width: 394px;height: 480px;position: relative;top: -50px;z-index: 59;}
.sec07 #inner ul li img {margin-top: 60px;}
.sec07 #inner ul li .care-mo {display: none;}


.sec08 {height: 830px;text-align: center;background: #282828;}
.sec08 #inner h2 {color: #fff;}
.sec08 #inner h2 .tit {font-size: 20px;position: absolute; top: 6%; left: 50%; transform: translateX(-50%);
width: 100%;}
.sec08 #inner img {margin-top: 100px;}
.sec08 #inner .textCont {display: none;}

.sec09 {background: #161616 url(../images/sec9_bg.jpg) repeat-x 50% 0 fixed;height: 524px;text-align: center;padding-top: 54px;}


/* floating-menu */
.float-menu {z-index: 1; grid-row-gap: 12px;flex-direction: column;display: flex;position: fixed;bottom: 50px;right: 50px;}
.float-menu #telIcon {display: none;}
.float-menu #blogIcon,
.float-menu #locIcon,
.float-menu #goTop
 {background: #11111186;border-radius: 50%;}

 
/* footer */
#footer {height: 66px;text-align: center;background: #111;font-family:MICE고딕;font-size: 1.5em;padding-top: 50px;}
#footer address {font-style: normal;}




