
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&family=Russo+One&display=swap");
@media screen and (min-width: 1200px) and (max-width: 1460px) {
    #wrap {
        min-width: 100%;
    }
    #inner {
        width: 85% !important;
    }
    /* daum-map */
    .root_daum_roughmap {width:100% !important;}
    /* layout */
    h2 {
        font-size: 4em;
    }
    h2 p {
        padding-top: 10px;
    }
    /* ------------- */

   
    #header .inner h1 {
        left: 5% !important;
    }
    #header .inner .gnb {
        width: 70% !important;
        left: 30% !important;
    }
    /* sec01 */
    .sec01 {
        z-index: 61;
        width: 100vw !important;
        height: 100vh !important;
    }
    .sec01  a {
        margin-bottom: 50px;
    }
    /* ---------- */

    /* sec02 */
    .sec02 #inner ul {
        left: 50%;
        transform: translateX(-50%);
        width: 80%;
    }
    /* ---------- */
    
    /* sec03 */
    .sec03 #inner  img {
        left: 12% !important;
    }

    .sec03 #inner .cont p {
        font-size: 1.7em !important;
    }
    .sec03 #inner  .listBox-1 {
        top: 19.5% !important;
    }
    
    .sec03 #inner .listBox-2 {
        top: 29.5% !important;

    }
    .sec03 #inner .listBox-3 {
        top: 39% !important;
    }
    .sec03 #inner  .listBox-3 .n-box {
        left: -41% !important;
    }
    .sec03 #inner .listBox-4 {
        top: 48.5% !important;
    }
    .sec03 #inner .listBox-5 {
        top: 58% !important;
    }
    .sec03  #inner .listBox-6 {
        bottom: 26.5%;
    }
    .sec03 #inner .listBox-7 {
        bottom: 18%;
    }
    .sec03 #inner .listBox-8 {
        bottom: 8%;
    }
   /* ---------- */

   /* sec04 */
   
   
   .sec04 #inner .tit {
    font-size: 3em;
    top: 13%;
   }
   .sec04 #inner .tit p {
    font-size: 18px;
   }
   .sec04 #inner .bestIcon img {
    width: 30%;
   }
   .sec04 #inner img.one {
    margin-top: 230px !important;
   }
   /* ---------- */

   /* sec05 */
   .sec05 #inner ul.appear {
    padding-top: 130px;
   }
   .sec05 #inner h2 .tit {
    top: 15%;
   }
   .sec05 #inner  ul li {
    width: 500px;
    height: 290px;
    }
   .sec05 #inner ul li img {
    width: 100%;
   }
   /* ---------- */

   /* sec06*/
   
   .sec06 #inner {
    width: 100% !important;
   }
   .sec06 #inner h2 {
    top: 2%;
   }
   .sec06 #inner h2 .tit {
    top: 15%;
   }
   .sec06 #inner ul {
    width: auto !important;
    padding-top: 130px;
   }
   .sec06 #inner ul li {
    width: 380px;
    height: 325px;
   }
   .sec06 #inner ul li img {
    width:100%;
   }
   .sec06 #inner .under_img {
    width: 100% !important;
   }
   .sec06 #inner .under_img img {
    width: 100% !important;
    }
   
    /* ---------- */


   /* sec07 */
   .sec07 #inner {
    width: 100% !important;
   }
  /* ---------- */

   /* sec08 */
   .sec08 {
    height: 740px;
   }
   .sec08 #inner {
    width: 100% !important;
   }
   .sec08 #inner h2 {
    padding-top: 35px;
   }
   .sec08 #inner h2 .tit {
    top: 6%;
   }
   .sec08 #inner img {
    width: 90% !important;
   }
  /* ---------- */

  .float-menu {
    z-index: 60;
  }
  /* ---------- */

}

@media screen and (min-width: 1024px) and (max-width: 1199px) {
    #wrap {
        min-width: 100%;
    }
    #inner {
        width: 85% !important;
    }
    #header {
        height: 100px !important; 
    }
    #header h1 {
    top: 50% !important;
    left: 45% !important;
    -webkit-transform: translate(-50%, -50%) !important;
            transform: translate(-50%, -50%) !important;
        
    }
    #header .inner .gnb {
        width: 85% !important;
        top: 50px !important;
        left: 50% !important;
        -webkit-transform: translateX(-50%) !important;
                transform: translateX(-50%) !important;
    }
    #header .inner .gnb ul li{
        margin-left: 0px;
    } 
    
    #header .inner .gnb a {
        margin-left: 43px;
    } 
    
    h2 {
     font-size: 4em;
     width: 100%;
    }
    h2 p {
        font-size: 22px;
    }
    
    /* sec01 */
    .sec01 {
        z-index: 61 !important;
    }
    /* ------ */

    /* sec02 */
    .sec02 {
        height: 910px;
    }
    .sec02 #inner ul {
        width: 100% !important;
    }
    .sec02 #inner ul li .txtBox {
        width: 70% !important;
    }
    /* ------- */


   /* sec04 */
   .sec04 #inner .tit {
    font-size: 2.6em;
    top: 12%;
   }
   .sec04 #inner .tit p {
    font-size: 16px;
   }
   .sec04 #inner .bestIcon img {
    width: 30% !important; 
    }
    .sec04 #inner img.one {
    margin-top: 190px !important;
    }
   .sec3-table {
    width:100vw;
   }
   /* ------------ */


   /* sec05 */
   .sec05 #inner {
    width: 90% !important;
   }
   .sec05 #inner h2 .tit {
    top: 20%;
   }
   .sec05 #inner ul {
    overflow: hidden !important;
    width: 100% !important;
    padding-top: 130px !important;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    }
    .sec05 #inner ul li{
        width: 100% !important;
        height: 100% !important;
    }
    .sec05 #inner ul li:nth-child(even) {
        margin-left: 13px !important;
    }
    .sec05 #inner ul li img {
        width: 100% !important;
    }
   /* --------- */

   /* sec06 */
   .sec06 {
    height:auto !important;
   }
   .sec06 #inner {
    width: 100% !important;
   }
   .sec06 #inner h2 {
    top: 2%;
   }
   .sec06 #inner h2 .tit {
    top: 20%;
   }
   .sec06 #inner ul {
    width: auto !important;
    padding-top: 130px;
    overflow: hidden;
   }
   .sec06 #inner ul li {
    width: 325px !important;
    height: 277px !important;
   }
   .sec06 #inner ul li img {
    width:100% !important;
   }
   .sec06 #inner .under_img {
    width: 100% !important;
    height: auto !important;
    left: 0;
   }
   .sec06 #inner .under_img img {
    width: 100% !important;
    top: -36px !important;
   }
   
    /* ---------- */

    /* sec07 */
    .sec07 {
        width: 100%;
        height: 500px;
    }
    .sec07 #inner ul {
       display: flex;
       justify-content: space-between;
       align-items: center;
    }
    .sec07 #inner ul li img {
        width: 100%;
    }
    /* --------- */

    /* sec08 */
    .sec08 {
        height: 650px !important;
    }
    .sec08 #inner {
        width: 100% !important;
    }
    .sec08 #inner h2{
        padding-top: 20px;
    }
    .sec08 #inner h2 .tit {
        top: 7%;
    }
    .sec08 #inner img {
        width: 90% !important;
       }
    /* --------- */

    /* float-menu */
    .float-menu {
        z-index: 60 !important;
    }
    /* ------- */

    /* footer */
    #footer {
        font-size: 1.4em;
    }
    /* ------- */ 
}

/* 768-tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    #wrap {
        min-width: 100%;
    }
    #inner {
        width: 85% !important;
    }
    #header {
        height: 100px !important; 
    }
    #header h1 {
    top: 50% !important;
    left: 45% !important;
    -webkit-transform: translate(-50%, -50%) !important;
            transform: translate(-50%, -50%) !important;
        
    }
   
    #header .inner .gnb {
        width: 100% !important;
        top: 50px !important;
        left: 50% !important;
        -webkit-transform: translateX(-50%) !important;
        transform: translateX(-50%)!important;
    }


    h2 {
     font-size: 3.5em !important;
     width: 100% !important;
    }
    h2 p {
        font-size: 20px !important;
    }
    #header .inner .gnb ul li,
    #header .inner .gnb > a {
        margin-left: 35px !important;
    } 
    #header .inner .gnb > a, #header .inner .gnb ul li a {
        font-size: 14px !important;
    }

    /* sec01 */
    .sec01 {
        z-index: 61 !important;
        width: 100vw !important;
        height: 100vh !important;
    }
    .sec01  a {
        margin-bottom: 50px !important;
    }
    /* ---------- */
    
    /* sec02 */
    
    .sec02 #inner ul {
        width: 100% !important;
    }
    .sec02 #inner ul img {
        width: 100% !important;
    }
    .sec02 #inner ul li {
        height: 100% !important;
    }
    .sec02 #inner ul li .txtBox {
        width:70% !important;
        bottom: -1% !important;
    }
    .sec02 #inner ul li .txtBox h3 {
        font-size: 1.5em !important;
    }
    .sec02 #inner ul li .txtBox b {
        font-size: 1.6em !important;
    }
    .sec02 #inner ul li .txtBox p {
        font-size: 1.1em !important;
    }
    /* ---------- */

    /* sec03 */
   
    .sec03 #inner .listBox-1,
    .sec03 #inner .listBox-2,
    .sec03 #inner .listBox-3,
    .sec03 #inner .listBox-4,
    .sec03 #inner .listBox-5,
    .sec03 #inner .listBox-6,
    .sec03 #inner .listBox-7,
    .sec03 #inner .listBox-8 {
        width: 90% !important;
    }
    .sec03 #inner .c-box {
        padding-left: 25px;
    }
    
    .sec03 #inner h4 {
        font-size: 2.5em !important;
    }
    .sec03 #inner .cont p {
        font-size: 1.5em !important;
    }
    .sec03 #inner .cont span {
        font-size: 1.2em !important;
    }
    .sec03 #inner .listBox-2 {
        top: 28% !important;
    }
    .sec03 #inner .listBox-3 {
        top: 38% !important;
    }
    .sec03 #inner .listBox-4 {
        top: 47% !important;
    }
    .sec03 #inner .listBox-5 {
        top: 56.5% !important;
    }
    .sec03 #inner .listBox-6 {
        bottom: 28.5% !important;
    }
    .sec03 #inner .listBox-7 {
        bottom: 20% !important;
    }
    .sec03 #inner .listBox-8 {
        bottom: 10.5% !important;
    }
    /* ------ */

    /* sec04 */
    .sec04 #inner .bestIcon img {
        width: 30% !important;
    }
    .sec04 #inner .tit{
        font-size: 3em !important;
        top: 13%;
    }
    .sec04 #inner img.one {
        margin-top: 180px !important;
    }
    .sec04 #inner img.one,
    .sec04 #inner img.two {
        width: 100% !important;
    }
    .sec3-table {
        width: 100vw !important;
    }
    /* ------ */

    /* sec05 */
    .sec05 #inner h2 .tit {
        top: 20% !important;
    }
    .sec05 #inner ul {
        overflow: hidden !important;
        width: 100% !important;
        padding-top: 130px !important;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    .sec05 #inner ul li{
        width: 100%;
        height: 100%;
    }
    .sec05 #inner ul li:nth-child(even) {
        margin-left: 13px !important;
    }
    .sec05 #inner ul li img {
        width: 100% !important;
    }
    /* -------- */

    /* sec06 */
    .sec06 {
        padding-bottom: 0 !important;
        height: auto !important;
    }
  
    .sec06 #inner h2 {
        top: 4% !important;
    }
    .sec06 #inner h2 .tit{
        top: 20%;
    }
    .sec06 #inner ul  {
        width: auto !important;
        padding-top: 100px !important;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-gap: 5px;
        overflow: hidden;
    }
    .sec06 #inner ul li {
        width: 100% !important;
        height: 100% !important;
        margin: 0;
        padding: 0;
    }
    .sec06 #inner ul li img {
        width: 100% !important;
    }
    .sec06 #inner .under_img {
        width: 100% !important;
        height: auto !important;
        left: 0;
       }
       .sec06 #inner .under_img img {
        width: 100% !important;
        top: -20px !important;
       }
    /* ------- */
    

    
   /* .sec06 {
    height: 1200px !important;
   }
   .sec06 #inner {
    width: 100% !important;
   }
   .sec06 #inner h2 {
    top: 2%;
   }
   .sec06 #inner h2 .tit {
    top: 20%;
   }
   .sec06 #inner ul {
    width: auto !important;
    padding-top: 130px;
    overflow: hidden;
   }
   .sec06 #inner ul li {
    width: 325px !important;
    height: 277px !important;
   }
   .sec06 #inner ul li img {
    width:100% !important;
   }
   .sec06 #inner .under_img {
    width: 100% !important;
    left: 0;
   }
   .sec06 #inner .under_img img {
    top: -92px !important;
    width: 100%;
} */


     /* sec07 */
     .sec07 {
        width: 100%;
        height: 400px;
    }
    .sec07 #inner ul {
       display: flex;
       justify-content: space-between;
       align-items: center;
    }
    .sec07 #inner ul li img {
        width: 100% !important;
    }
    /* --------- */

    /* sec08 */
    .sec08 {
        height: 650px !important;
    }
    .sec08 #inner {
        width: 100% !important;
    }
    .sec08 #inner h2{
        padding-top: 20px !important;
    }
    .sec08 #inner h2 .tit {
        top: 7%;
    }
    .sec08 #inner img {
        width: 95% !important;
       }
    /* --------- */

    /* float-menu */
    .float-menu {
        z-index: 60 !important;
        right: 16px !important;
    }
    /* ------- */

      /* footer */
      #footer {
        font-size: 1em !important;
    }
    /* ------- */ 
}

/* 480px */
@media screen and (min-width: 481px) and (max-width: 767px) {
    #wrap {
        min-width: 100%;
    }
    br.mo {
        display: block !important;
    }	
    h2 {
        font-size: 2.3em !important;
    }

    h2 p {
        font-size: 15px !important;
    }

    #inner {
        width: 85% !important;
    }

    #header {
        height: 80px !important;
    }
    #header .inner h1 {
        top: 20px;
        left: 2%;
    }
    #header .inner .gnb ul {
        display: none !important;
    }

    #header .inner .gnb > a, #header .inner .gnb ul li a {
        display: none !important;
    }
   
    .menuOpen {
        display: block !important;
    }

    .menuOpen button.open {
        background: none;
        border: none;
        position: fixed; 
        right: 10px;
        top: 15px; 
        box-sizing: border-box;
        z-index: 9999; 
        cursor: pointer;
    }
    .menuOpen .menuWrap {
        width: 100% !important; 
        position: fixed;
        z-index: 9999; 
        top: -1000px;
        right: 0;
        transition: all 0.4s;
    }
    .menuOpen .menuWrap .close {
        position: absolute !important;
        top: 0px;
        right: 10px;
        z-index: 9999;
    }
   
    .menuOpen .menuWrap #m-gnb {
        width: 100% !important;
        text-align: center;
        font-size: 1.2em;
        position: absolute;
        left: 50% !important;
        top: 10%;
        transform: translate(-50%);
        overflow: auto;
        -webkit-transition: top .3s ease-in-out;
        transition: top .3s ease-in-out;
        background: #1a1a1a;
    }
    .menuOpen .menuWrap #m-gnb li a,
    .menuOpen .menuWrap #m-gnb a {
        color: #fff;
        display: inline-block !important;
         transition: all 0.3s;
    }
    .menuOpen .menuWrap #m-gnb li a {
        padding: 0 !important;
    }
    .menuOpen .menuWrap #m-gnb a {
        padding: 15px 0 !important;
    }
    .menuOpen .menuWrap #m-gnb li {
        width: 100% !important;
        padding: 15px 0;
        border-bottom: 1px solid #fff;
    }
    /*menu열기*/
    .menuOpen .menuWrap.on {
        width: 100% !important;
        left: 0; 
        top: 0%;
        transition: all 0.5s;
    }

    /* se01 */
    .sec01 {
        z-index: 61 !important;
    }
    .sec01 a {
        margin-top:470px !important;
    }
    .sec01 a img {
        width: 90% !important;
    }
   /* -------- */

   /* se02 */
   .sec02 {
    width: 100% !important;
    height: 600px !important;
   }
   .sec02 #inner ul {
    bottom: -10%;
    left: 50%;
    transform: translateX(-50%);
    width: 100% !important;
   }
   .sec02 #inner ul li {
    width: 100%;
    height: 100%;
    float: left;
    margin: 0 auto;
}
   .sec02 #inner ul li img {
        width: 100%;
   }

   .sec02 #inner ul li .txtBox {
    width: 85% !important;
    top: 60% !important;
   }
   .sec02 #inner ul li .txtBox h3 {
    font-size: 1.3em !important;
    padding-bottom: 5px;
   }
   .sec02 #inner ul li .txtBox b {
    font-size: 1.3em !important;
   }
   .sec02 #inner ul li .txtBox p {
    font-size: 0.9em;
    padding-top: 5px;
   }
   /* -------- */

   /* sec03 */
   .sec03 {
    height: 1300px !important;
    background: url(../images/sec2-1-mo.png) no-repeat center !important;
    background-size: cover !important;
    text-align: center;
   }
   .sec03 #inner h4 {
    font-size: 1.5em !important;
   }
   .sec03 #inner .cont p {
    font-size: 1em !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
   }
   .sec03 #inner .cont span {
    font-size: 0.9em !important;
}
   .sec03 #inner .cont span {
    font-size: 0.9em !important;
   }
   .sec03 #inner img {
    max-width: 100%;
   }
   
   .sec03 #inner .listBox-1, 
   .sec03 #inner .listBox-2, 
   .sec03 #inner .listBox-3, 
   .sec03 #inner .listBox-4, 
   .sec03 #inner .listBox-5, 
   .sec03 #inner .listBox-6, 
   .sec03 #inner .listBox-7, 
   .sec03 #inner .listBox-8 {
    width: 70% !important;
   }
  
    .sec03 #inner .listBox-2 {
        top: 27% !important;
    }
    .sec03 #inner .listBox-3 {
        top: 37% !important;
    }
    .sec03 #inner .listBox-4 {
        top: 46.5% !important;
    }
    .sec03 #inner .listBox-5 {
        top: 56.5% !important;
    }
    .sec03 #inner .listBox-6 {
        bottom: 23% !important;
    }
    .sec03 #inner .listBox-7 {
        bottom: 13% !important;
    }
    .sec03 #inner .listBox-8 {
        bottom: 2% !important;
    }
   /* ------- */

   /* se04 */
   .sec04 {
    background: url(../images/sec3-add-mo.png) no-repeat center !important;
    background-size: cover !important;
    text-align: center;
}
   .sec04 #inner {
    width: 87% !important;
   }
   
    .sec04 #inner .bestIcon img {
        width: 40%;
    }
   .sec04 #inner .tit {
    font-size: 2em !important;
    top: 22% !important;
   }
   .sec04 #inner .tit p {
    font-size: 14px !important;
   }

   .sec04 #inner img.one,
   .sec04 #inner img.two {
    display: none !important;
   }
  
   .sec04 #inner .upper {
    display: block !important;
    width: 100% !important;
    margin: 0 auto;
    position: relative !important;
    }
    .sec04 #inner .upper .swiper {
        width: 100% !important;
        height: auto !important;
    }
    .sec04 #inner .upper .swiper-slide {
        padding-top: 60px !important;
        text-align: center;
    
      
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      }
      .sec04 #inner .upper .swiper-slide .onlyM {
        display: none;
      }
      .sec04 #inner .upper .swiper-slide .onlyT {
        margin-top: 260px !important;
        display: block !important;
        width: 100% !important;
        float: left;
        height: auto;
        padding: 0 0 0 0;
      }
      

      .sec04 #inner .upper .swiper-pagination{
        display: block !important;
        top: 15%;
        left: 50%;
       transform: translateX(-50%);
      }
      .sec04 #inner .upper .swiper-pagination-bullet { 	
        width: 110px !important;
        border-radius: 5px;
        margin-right: 20px;
        padding:15px 0 20px;
        background-color: #fff;
        opacity: 1;
        transition: all .3s; 
        font-size: 1.2em;
    }
    .sec04 #inner .upper .swiper-pagination-bullet-active {
        width: 110px !important;
        border-radius: 5px;
        margin-right: 20px;
        padding:15px 0 20px;
        background-color: #1a1a1a;
        color: #fff;
        transition: all .3s;  
        font-size: 1.2em;
        font-weight: bold;
    }
    .sec04 #inner .txtBox {
        position: absolute !important;
        right: -3% !important;
        top: 59% !important;
        width: 50% !important;
        color: #fff;
        font-weight: normal;
        text-align: left !important;
    }
    .sec04 #inner .txtBox span {
        font-size: 1.3em;
    }
    .sec04 #inner .txtBox b {
        font-size: 2.5em;
    }
    .sec04 #inner .txtBox p {
        padding-top: 10px;
        font-size: 1em;
    }
    .mt45 img {
        width: 0 !important;
        display: none;
    }
    .mt46 {
        position: relative;
        left: 50%;
        margin-left: -100%;
        display: block !important;
    }
    .mt46 img {
        width: 100vw !important;
    }
    /* -------- */

    /* sec05 */
    .sec05 #inner h2 .tit {
        top: 15% !important;
    }
    .sec05 #inner ul {
        width: auto;
        display: flex !important;
        flex-direction: column !important;
        justify-content: space-between !important;
        padding-top: 80px;
    }
    .sec05 #inner ul li {
        height: auto !important;
        width: auto !important;
    }
    .sec05 #inner ul li:nth-child(even) {
        margin-left: 0 !important;
    }
    .sec05 #inner ul li img {
        width: 100% !important;
    }
    /* ----------- */

    /* se06 */
    .sec06 {
        height: auto !important;
    }
    .sec06 #inner{
        padding-bottom: 0;
    }
    .sec06 #inner h2 {
        top: 4% !important;
    }
    .sec06 #inner h2 .tit{
        top: 15%;
    }
    .sec06 #inner ul  {
        width: auto !important;
        padding-top: 30px !important;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-gap: 5px;
        overflow: hidden;
    }
    .sec06 #inner ul li {
        width: 100% !important;
        height: 100% !important;
        margin: 0;
        padding: 0;
    }
    .sec06 #inner ul li img {
        width: 100% !important;
    }
    .sec06 #inner .under_img {
        display: none !important;
       }
       .sec06 #inner .under_img img {
        width: 100% !important;
        top: 25px !important;
       }
       /* ---------------- */

       /* se07 */
       .sec07 {
        height: 100%;
       }
       .sec07 #inner{
        width: 100% !important;
       }
       .sec07 #inner ul {
        display: flex;
        width: 100% !important;
       padding-bottom: 50px;
       }
       .sec07 #inner ul li {
        height: 100% !important;
       }
       .sec07 #inner ul li img {
        width: 100% !important;
       }
       /* -------- */

       /* se08 */
       .sec08 {
        height: 560px !important;
       }
       .sec08 #inner {
        width: 95% !important;
       }
       .sec08 #inner h2 {
        padding-top: 20px;
       }
       .sec08 #inner h2 .tit {
        top: 6% !important;
       }
       .sec08 #inner img {
        width: 100% !important;
       }
       /* --------- */

       /* float-menu */
       .float-menu {
        right: 15px !important;
        z-index: 60 !important;
       }
       .float-menu a img {
        width: 100% !important;
       }
       /* -------- */

       /* footer */
       #footer {
        font-size: 0.9em;
       }
}

/* 480px-mo */
@media screen and (max-width: 480px) {
    #wrap {
        max-width: 100%;
    }
    
    br.mo {
        display: block !important;
    }	
    h2 {
        font-size: 2rem !important;
    }

    h2 p {
        font-size: 15px !important;
    }

    #inner {
        width: 85% !important;
    }

    #header {
        height: 80px !important;
    }
    #header .inner h1 {
        top: 20px;
        left: 2%;
    }
    #header .inner .gnb ul {
        display: none !important;
    }

    #header .inner .gnb > a, #header .inner .gnb ul li a {
        display: none !important;
    }
   
    .menuOpen {
        display: block !important;
    }

    .menuOpen button.open {
        background: none;
        border: none;
        position: fixed; 
        right: 10px;
        top: 15px; 
        box-sizing: border-box;
        z-index: 9999; 
        cursor: pointer;
    }
    .menuOpen .menuWrap {
        width: 100% !important; 
        position: fixed;
        z-index: 9999; 
        top: -1000px;
        right: 0;
        transition: all 0.4s;
    }
    .menuOpen .menuWrap .close {
        position: absolute !important;
        top: 0px;
        right: 10px;
        z-index: 9999;
    }
   
    .menuOpen .menuWrap #m-gnb {
        width: 100% !important;
        text-align: center;
        font-size: 1.2em;
        position: absolute;
        left: 50% !important;
        top: 10%;
        transform: translate(-50%);
        overflow: auto;
        -webkit-transition: top .3s ease-in-out;
        transition: top .3s ease-in-out;
        background: #1a1a1a;
    }
    .menuOpen .menuWrap #m-gnb li a,
    .menuOpen .menuWrap #m-gnb a {
        color: #fff;
        display: inline-block !important;
         transition: all 0.3s;
    }
    .menuOpen .menuWrap #m-gnb li a {
        padding: 0 !important;
    }
    .menuOpen .menuWrap #m-gnb a {
        padding: 15px 0 !important;
    }
    .menuOpen .menuWrap #m-gnb li {
        width: 100% !important;
        padding: 15px 0;
        border-bottom: 1px solid #fff;
    }
    /*menu열기*/
    .menuOpen .menuWrap.on {
        width: 100% !important;
        left: 0; 
        top: 0%;
        transition: all 0.5s;
    }

    /* sec01 */
    .sec01 {
        background: #333 url(../images/vis1-mo.jpg) no-repeat center;
        background-size:cover;
        height: 600px !important;
        z-index: 2;
    }
    .sec01 a {
        margin-top: 316px !important;
    }
    .sec01 a img {
        width: 80% !important;
    }
    /* ------- */

    /* sec02 */
    .sec02 {
        height: 1500px !important;
        
    }
    .sec02 #inner h2 {
        top: 4% !important;
    }
    .sec02 #inner ul {
            width: 100% !important;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            bottom: 5% !important;

    }
    .sec02 #inner ul li .appear-pc {
       display: none !important;
    }
    .sec02 #inner ul li .txtBox {
        display: none !important;
    }
   
    .sec02 #inner ul li {
        height: 100% !important;
    }
    .sec02 #inner ul li .txtBox {
        bottom: -24% !important;
    }
    .sec02 #inner .appear-mo {
        margin: auto !important;
        width: 50% !important;
        display: block !important;
        padding-bottom: 20px;
    }
    /* ------ */

    /* sec03 */
    .sec03 {
        height: 2000px !important;
        background: url(../images/sec2-1-mo.png) no-repeat center !important;
        background-size: cover !important;
    }
    .sec03 #inner h2 {
        top: 5% !important;
    }
    .sec03 #inner h4 {
        font-size: 2em !important;
    }
   
    .sec03 #inner .cont p {
        font-size: 1.5em !important;
    }
    .sec03 #inner .cont {
        width: 85% !important;
    }
    .sec03 #inner .cont span {
        font-size: 1.3em !important;
    }
    .sec03 #inner .n-box img{
        width: 100% !important; 
    }
    .sec03 #inner .n-box {
        padding-top: 12px !important;
    }
    .sec03 #inner .listBox-1 {
        top: 10% !important;
    }
    .sec03 #inner .listBox-2 {
        top: 20% !important;
    }
    .sec03 #inner .listBox-3 {
        top: 31% !important;
    }
    .sec03 #inner .listBox-4 {
        top: 43% !important;
    }
    .sec03 #inner .listBox-5{
        top: 55% !important;
    }
    .sec03 #inner .listBox-6 {
        bottom: 26% !important;
    }
    .sec03 #inner .listBox-7 {
        bottom: 14% !important;
    }
    .sec03 #inner .listBox-8 {
        bottom: 3% !important;
    }
    /* --------- */

    /* sec04 */
    .sec04 #inner {
        width: 95% !important;
    }
    .sec04 #inner .bestIcon img {
        width:40% !important;
        top: -10px;
    }
    .sec04 #inner .tit{
        font-size: 2em !important;
        top: 18% !important;
    }
    .sec04 #inner .tit p {
        font-size: 12px;
    }
    .sec04 #inner img.one,
    .sec04 #inner img.two {
        display: none !important;
    }
    
        .sec04 #inner .upper {
        display: block !important;
        width: 100% !important;
        margin: 0 auto;
        position: relative !important;
        }
        .sec04 #inner .upper .swiper {
            width: 100% !important;
            height: auto !important;
        }
        .sec04 #inner .upper .swiper .swiper-slide {
            padding-top: 60px !important;
            text-align: center;
        
          
            /* Center slide text vertically */
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
          }
          .sec04 #inner .upper .swiper-slide .onlyT {
            display: none !important;
        }
          .swiper-slide .onlyM {
            margin-top: 180px !important;
            display: block !important;
            width: 100% !important;
            float: left;
            height: auto;
            padding: 0 0 0 0;
          }
          
    
          .sec04 #inner .upper .swiper-pagination{
            display: block !important;
            top: 9% !important;
            left: 50% !important;
           transform: translateX(-50%);
          }
          .sec04 #inner .upper .swiper-pagination-bullet { 	
            width: 90px !important;
            border-radius: 5px;
            margin-right: 13px;
            padding: 10px 0 20px;
            background-color: #fff;
            opacity: 1;
            transition: all .3s; 
            font-size: 1.2em;
        }
        .sec04 #inner .upper .swiper-pagination-bullet-active {
            width: 90px !important;
            border-radius: 5px;
            margin-right: 13px;
            padding: 10px 0 20px;
            background-color: #1a1a1a;
            color: #fff;
            transition: all .3s;  
            font-size: 1.2em;
            font-weight: bold;
        }
        
        .mt45 img {
            width: 0 !important;
            display: none;
        }
        .mt46 {
            position: relative;
            left: 50%;
            margin-left: -100%;
            display: block !important;
        }
        .mt46 img {
            width: 100vw !important;
        }
        /* --------- */

        /* sec05 */
        .sec05 #inner h2 .tit {
            top: 10% !important;
        }
        .sec05 #inner ul {
            width: auto;
            display: flex !important;
            flex-direction: column !important;
            justify-content: space-between !important;
            padding-top: 80px;
        }
        .sec05 #inner ul li {
            height: auto !important;
            width: auto !important;
        }
        .sec05 #inner ul li:nth-child(even) {
            margin-left: 0 !important;
        }
        .sec05 #inner ul li img {
            width: 100% !important;
        }
        /* ----------- */

        /* sec06 */
        .sec06 #inner {
            padding-bottom: 0;
        }
        .sec06 #inner h2 {
            top: 3% !important;
        }
        .sec06 #inner h2 .tit {
            top: 10% !important;
        }
        .sec06 #inner ul {
            display: none !important;
            }
            .sec06 #inner .gallery-box {
                display: block !important;
            }
            
        
            .sec06 #inner .under_img {
                display: none !important;
            }
            
            .object-fit img{width:100%;height:100%;object-fit:cover;}
            .gallery-box .swiper-slide {padding-top: 0;}
            .gallery-box{margin:0 auto;max-width:800px;}
            .gallery-box .swiper-container{margin-left:auto;margin-right:auto;position:relative;overflow:hidden;list-style:none;padding:0;z-index:1;}

            .gallery-box .gallery-main-box{padding:0 0 10px;}
            .gallery-box .gallery-main-box .swiper-slide .info-img{position:relative;padding:0 0 62.5%;height:0;box-sizing:border-box;margin-top: 50px;}
            .gallery-box .gallery-main-box .swiper-slide .info-img img{position:absolute;left: 0%;margin-top: 0;}
            .gallery-box .gallery-main-box .swiper-slide .info-txt{position:absolute;bottom:0;left:0;padding:15px 20px;width:100%;background:rgba(0,0,0,0.5);}
            .gallery-box .gallery-main-box .swiper-slide .info-txt span{font-size:1rem;line-height:1.5rem;color:#fff;}

            .gallery-box .gallery-main-box .control-wrap{position:absolute;top:60%;left:0;z-index:20;width:100%;box-sizing:border-box;}
            .gallery-box .gallery-main-box .control-wrap > div{position:absolute;top:50%;width:60px;height:60px;background-color:rgba(0,0,0,0.5);background-repeat:no-repeat;background-position:center center;text-indent:-99999px;transform:translateY(-50%);-webkit-transform:translateY(-50%);-moz-transform:translateY(-50%);-o-transform:translateY(-50%);-ms-transform:translateY(-50%);cursor:pointer;}
            .gallery-box .gallery-main-box .control-wrap .swiper-gallery-prev{left:0;background-image:url(https://user-images.githubusercontent.com/33821863/148932372-4b639bb5-17b1-4884-b18d-3445b530701b.png);}
            .gallery-box .gallery-main-box .control-wrap .swiper-gallery-next{right:0;background-image:url(https://user-images.githubusercontent.com/33821863/148932378-7ff3135f-0dd9-4d6d-abd1-376acbf577d4.png);}
            .gallery-box .gallery-main-box .control-wrap > div:hover{background-color:#000;}

            .gallery-box .gallery-thumb-box .swiper-slide{cursor:pointer;}
            .gallery-box .gallery-thumb-box .swiper-slide.swiper-slide-active{position:relative;}
            .gallery-box .gallery-thumb-box .swiper-slide.swiper-slide-active:after{content:'';display:block;position:absolute;top:0;left:0;width:100%;height:100%;border:2px solid #1976d2;box-sizing:border-box;} 
            .gallery-box .gallery-thumb-box .swiper-slide .info-img{position:relative;padding:0 0 62.5%;height:0;box-sizing:border-box;}
            .gallery-box .gallery-thumb-box .swiper-slide .info-img img{position:absolute;left: 0;margin-top: 0;}
          /* ---------------- */

          /* sec07 */
          .sec07 {
            height: 270px !important;
          }
          .sec07 #inner {
            width: 100% !important;
          }
          .sec07 #inner ul {
            display: flex;

          }
          .sec07 #inner ul li  img {
            display: none !important;
          }
          .sec07 #inner ul li .care-mo {
            width: 100% !important;
            display: block !important;
        }
        .sec07 #inner ul li {
            height: 270px !important;
        }
          
          /* ---------- */

          /* sec08 */
          .sec08 {
            height: 100% !important;
            padding-top: 80px !important;
            padding-bottom: 80px !important;
          }
          .sec08 #inner {
            width: 95% !important; 
          }
                 
          .sec08 #inner h2 .tit {
            top: 7.5% !important;
          }
          .sec08 #inner .webImg {
            display: none !important;
          }
          .sec08 #inner .textCont {
            display: block !important;
            width: 100% !important;
            }
            .sec08 #inner .textCont .topBox ul{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
            .sec08 #inner .textCont .topBox ul li {
                float: left;
            }
            .sec08 #inner .textCont .topBox ul li>.icoImg {
                width: 20% !important;
                margin-top: 50px !important;
            }
            .sec08 #inner .textCont .topBox ul li>.txt {
                text-align: center;
                padding-top: 10px !important;
            }
            .sec08 #inner .textCont .topBox  ul li>.txt>p {
                font-size: 1.5em;
                line-height: 1.7;
                color: #fff;
            }
            .sec08 #inner .textCont .topBox  ul li>.txt>p>b{
                color: #579cb7;
            }
            .sec08 #inner .textCont .topBox  ul li>.txt>p>span {
                font-weight: normal;
                font-size: 0.8em;
            }
            .sec08 #inner .textCont .topBox ul li>.txt>p>.numTxt {
                background: #61cb3d;
                border-radius: 6px;
                margin-right: 10px;
                padding-right: 10px;
                padding-left: 10px;
            }

            .sec08 #inner .textCont .bottomBox {
                padding-top: 50px;
            }
            .sec08 #inner .textCont .bottomBox .txt{
                font-size: 1.3em !important;
                color: #fff;
                line-height: 1.5 !important;
                padding-top: 40px !important;
                text-align: left !important;
                font-weight: normal !important;   
               margin: 10px;
            }
            .sec08 #inner .textCont .bottomBox .txt>span {
                color: #579cb7;
                font-weight: bold !important;
            }
          /* ------ */


          /* float-menu */
          .float-menu {
            background: #1a1a1a ;;
            flex-direction: row;
            justify-content: space-between;
            top: auto;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 9999;
            }
            .float-menu #telIcon {
                display: block !important;
            }
            .float-menu #blogIcon, .float-menu #locIcon, .float-menu #goTop {
                background: none;
            }

          /* footer */
          #footer {
            font-size: 0.9em !important;
            padding-bottom: 60px;
          }
}
/* 390px */
@media screen and (min-width:390px) and (max-width: 479px) {
    #wrap {
        min-width: 100% !important;
    }
    h2 p {
        font-size: 13px !important;
    }
    .sec02 {
        height: 1300px !important;
    }
    .swiper-slide .onlyM {
        margin-top: 235px !important;
    }
    .sec04 #inner .tit {
        font-size: 1.8em !important;
    }
    .sec04 #inner .tit p {
        font-size: 10px !important;
    }
    .sec04 #inner .upper .swiper .swiper-slide {
        padding-top: 0 !important;
    }
    
    .sec06 #inner .under_img img {
        top: 46px !important;
    }
}
   






